.stlist{
	text-decoration-color: : pink;
	}
	.h{
		color:#ad5e34;
	}
	body{

		background: url(../img/bg.jpg) center;
		background-size: cover;
		background-color: #808080;
		
		
	}
	
	.p{
		color: #ffc266;
	}