<p>Add a new client:</p>

<form action="/clients" method="post">
  <label for="description">client Description</label>
  <input id="description" name="description" type="text">

  <button type="submit" class="btn btn-default">Add client</button>
</form>
