<h1>Add a stylist</h1>
<div class="h"><p>Add a stylist here:</p></div>

<form action="/stylists" method="post">
  <label for="name">stylist name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add stylist</button>
</form>
